@import url(./reset.css);

*{
  box-sizing: border-box;
}

.wrapper{
  width: 1024px;
  margin: 0 auto;
}

header{
  position: relative;
}

header h1{
  font-size: 40px;
  color: #FFFFFF;
  position: absolute;
  top: 89px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

select{
  width: 452px;
  height: 48px;
  border: 3px solid #FFFFFF;
  border-radius: 3px;
  font-size: 18px;
  font-family: PingFangTC-Regular;
  padding-left: 9.5px;
  position: absolute;
  top: 225px;
  left: 0;
  right: 0;
  margin: auto;
  appearance:none;
  background: url(../images/icons_down.png) 95% 50% no-repeat rgba(255,255,255,0.70);
}

section{
  width: 800px;
  height: 112px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  position: absolute;
  top: 352px;
  left: 0;
  right: 0;
  margin: auto;
}

section h2{
  font-size: 18px;
  margin-left: 26px;
  margin-top: 20px;
}

section ul{
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

section ul li {
  width: 130px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #8A82CC;
}

section ul li:nth-child(2){
  background-color: #FFA782;
}

section ul li:nth-child(3){
  background-color: #F5D005;
}
section ul li:last-child{
  background-color: #559AC8;
}

main h1{
  margin-top: 210px;
  font-size: 36px;
  color: #8A82CC;
  text-align: center;
  margin-bottom: 24px;
}

main ul{
  width: 464px;
  height: 273px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}

main .location{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main ul{
  margin: 0 16px 36px 0;
}

main ul:nth-child(2n){
  margin-right: 0;
}

main .img_block{
  width: 464px;
  height: 155px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  position: relative;
}

main h2{
  position: absolute;
  top: 117px;
  left: 22px;
  font-size: 24px;
  color: #FFFFFF;
}

main p{
  position: absolute;
  font-size: 16px;
  color: #FFFFFF;
  top: 125px;
  right: 19px;
}